<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebApiCinemaGet" value="https://b1ac9233bdd8.eu.ngrok.io/api/cinema/GetCinemaListOrderByGpsDistance/{0}/{1}" />
	  <add key="WebApiCustomerGetByID" value="https://b1ac9233bdd8.eu.ngrok.io/api/customer/GetUser/{0}" />
	  <add key="Login" value="https://b1ac9233bdd8.eu.ngrok.io/api/login/Authenticate" />
  </appSettings>
</configuration>