<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebApiCinemaGet" value="https://798d78e2ce09.eu.ngrok.io/api/cinema/GetCinemaListOrderByGpsDistance/{0}/{1}" />
	  <add key="WebApiCustomerGetByID" value="https://798d78e2ce09.eu.ngrok.io/api/customer/GetUser/{0}" />
	  <add key="Login" value="https://798d78e2ce09.eu.ngrok.io/api/login/Authenticate" />
  </appSettings>
</configuration>